/Btap_1-10/BaiTap1/nbproject/private/
/Btap_1-10/BaiTap1/build/
/Btap_1-10/BaiTap2/nbproject/private/
/Btap_1-10/BaiTap2/build/
/Btap_1-10/BaiTap3/nbproject/private/
/Btap_1-10/BaiTap3/build/
/Btap_1-10/BaiTap4/nbproject/private/
/Btap_1-10/BaiTap4/build/
/Btap_1-10/BaiTap5/nbproject/private/
/Btap_1-10/BaiTap5/build/
/Btap_1-10/BaiTap6/nbproject/private/
/Btap_1-10/BaiTap6/build/
/Btap_1-10/BaiTap7/nbproject/private/
/Btap_1-10/BaiTap7/build/
/Btap_1-10/BaiTap8/nbproject/private/
/Btap_1-10/BaiTap8/build/
/Btap_1-10/BaiTap9/nbproject/private/
/Btap_1-10/BaiTap9/build/
/Btap_1-10/BaiTap10/nbproject/private/
/Btap_1-10/BaiTap10/build/
